@page
@model BoardLobbyServer.Pages.aboutModel
@{
    ViewData["Title"] = "About us";
}
<h1 class="m-3">@ViewData["Title"]</h1>

<div class="text-center">
    <img src="/images/DTU.png" alt="Responsive image" height="200">
</div>

<div class="container mt-3">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="text-center">
                <img src="/images/avatars/8.png" alt="Responsive image" height="100">
                <h5>s174881</h5>  <h6>Mark Mortensen</h6>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="text-center">
                <img src="/images/avatars/2.png" alt="Responsive image" height="100">
                <h5>s195463</h5>  <h6>Frederik Schrøder Koefoed</h6>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="text-center">
                <img src="/images/avatars/15.png" alt="Responsive image" height="100">
                <h5>s195475</h5>  <h6>Muhammed Talha</h6>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="text-center">
                <img src="/images/avatars/35.png" alt="Responsive image" height="100">
                <h5>s180103</h5>  <h6>Volkan Isik</h6>
            </div>
        </div>
    </div>
</div>

<h2 class="text-secondary m-3"> Nyd Spillet ...</h2>
