@page
@model BoardLobbyServer.Pages.ChatModel
@{
}

<h3 class="m-3">Admin Chat</h3>

@if (Model.logged)
{
    <div class="d-flex justify-content-start">
    <div class="bg-light overflow-auto rounded w-25 m-3 shadow" id="adminList"></div>
    <div class="bg-light overflow-auto rounded m-3 shadow" style="width:70%" id="messagesList"></div>
    </div>

    <div class="d-flex align-items-center">
    <div><img src="@Model.adminAvatar" id="avatar" class="rounded" style="width: 50px" alt="..." > </div>
    <div id="userInput" class=" badge rounded-pill bg-primary"  style="font-size:15px;">@Model.adminName</div>
    <div>
   <input type="text" class="form-control float-start m-2" id="messageInput">
   </div>

    <input class="btn btn-primary m-3" type="button" id="sendButton" value="Send Message" />
    </div>
}
else
{
    <div class="alert alert-danger d-flex align-items-center m-3" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill" /></svg>
        <div>
            You have to <a asp-page="SignIn" class="alert-link">log in</a> to chat with your Bro's!
        </div>
    </div>
}

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>

@section Scripts{
<script>
    var divHeight = $(window).height() * 50 / 100;
    $("#messagesList").css("height", divHeight);
    $("#adminList").css("height", divHeight);
</script>
        }


