@page
@model BoardLobbyServer.Pages.EditAccountModel
@{
}

@if (Model.logged)
{
    <div class="container m-3">
        <div class="row">
            <div class="col">

            </div>
            <div class="col">
                <div class="alert alert-light" role="alert">
                    @Model.alert
                </div>
                <h3 class="m-3">Account Edit:</h3>
                <form method="post">

                    <div class="form-floating mb-3 ">

                        <input class="form-control" id="idadmin" type="text" name="idadmin" aria-label="readonly id" value="@Model.adminId" readonly>
                        <label for="floatingInput">Id</label>
                    </div>

                    <div class="form-floating mb-3 ">
                        <input type="text" class="form-control" name="emailaddress" id="emailaddress" value="@Model.adminName" required>
                        <label for="floatingInput">E-mail</label>
                    </div>
                    <div class="form-floating mb-3 ">
                        <input type="password" name="password" class="form-control" id="password" aria-describedby="inputGroupPrepend2" required>
                        <label for="floatingInput">Password</label>
                    </div>

                    <div class="row">
                        <div class="col">
                            <button type="submit" class="btn btn-info w-100" name="updatebutton">Update</button>
                        </div>
                        <div class="col">
                            <button type="submit" class="btn btn-danger w-100" name="deletebutton">Delete</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col">

            </div>
        </div>
    </div>
}
else
{
    <div class="alert alert-danger d-flex align-items-center m-3" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill" /></svg>
        <div>
            You have to <a asp-page="SignIn" class="alert-link">log in</a> to manage your account Bro!
        </div>
    </div>
}