@page
@model BoardLobbyServer.Pages.GameModel
@{
}
<h1> Gamename: </h1>
<h1> xxx </h1>
<h1> Leadername: </h1>
<h1> xxx </h1>

<div class="row">
    <div class="col-12">
        <hr />
    </div>
</div>

<div class="row">
    <div class="col-6">
        <ul id="Participants">
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
        </ul>
    </div>
</div>