@page
@model BoardLobbyServer.Pages.GameListModel
@{
}

<h1>Game List:</h1>

<table class="table" id="lobbyTable">
    <thead class="thead-dark">
        <tr>
            <th data-field="id" scope="col">Id</th>
            <th data-field="name" scope="col">Name</th>
            <th data-field="lobbyname" scope="col">Lobbyname</th>
            <th data-field="joined" scope="col">joined</th>
            <th data-field="handle" scope="col">Handle</th>
        </tr>
    </thead>
    <tbody id="rows">
    </tbody>
</table>
<p id="test"></p>


@section Scripts{
    <script src="~/js/gameList.js"></script>
}
<script src="~/js/signalr/dist/browser/signalr.js"></script>