@page
@model BoardLobbyServer.Pages.GameModel
@{
}
<h1 id="gamename"></h1>
<h4 id="gameid"></h4>
<h3 id="leadername"></h3>

<div class="row">
    <div class="col-12">
        <hr />
    </div>
</div>

<div class="row">
    <div class="col-6">
       <ul id="Participants">

       </ul>

    </div>
</div>
<div id="gameidfromlist">@Model.GameId</div>
<p>
    
</p>


@section Scripts{
    <script src="~/js/game.js"></script>
}
<script src="~/js/signalr/dist/browser/signalr.js"></script>
