@page

<form id="playerdata" onsubmit="return createPlayer();">
    <div class="form-group">
        <label for="playername">Enter Your Name</label>
        <input type="text" class="form-control" id="playername" aria-describedby="nameplz" placeholder="Enter Your Name">
        <small id="nameplz" class="form-text text-muted">Please enter your name so anyone else can see you.</small>
    </div>
    <button id="okbutton" type="submit" class="btn btn-primary">OK</button>
</form>

<a hidden id="createbutton" class="btn btn-link btn-lg text-dark" asp-area="" asp-page="/createlobby">Create Lobby</a>


<form>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>


@section Scripts{ 
    <script src="~/js/playerdata.js"></script>
}
<script src="~/js/signalr/dist/browser/signalr.js"></script>
