@page
<h1 id="title" >List of available Lobbies</h1>



<table class="table" id="lobbyTable" >
    <thead class="thead-dark" >
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Lobbyname</th>
            <th scope="col">joined</th>
            <th scope="col">Handle</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>
<p id="test"></p>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/listlobbies.js"></script>
